*{
    margin: 0;
    padding: 0;
}
.card-60{
    width: 60%;
}
.ignite{
    text-decoration-style: dotted;
    color: rgb(0, 0, 0);
}
.card-50{
    width: 50%;
}
.p1{
    margin-top: 15px;
    margin-bottom: 0px;
}
